<template>
    <div>
        <Sidebar />
        <div class="right-panel" id="right-panel">
            <Header />
            <!-- Content -->
            <div class="content">
                <!-- Animated -->
                <div class="animated fadeIn">
                    <!-- Widgets  -->
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="stat-widget-five">
                                        <div class="stat-icon dib flat-color-1">
                                            <i class="pe-7s-cash"></i>
                                        </div>
                                        <div class="stat-content">
                                            <div class="text-left dib">
                                                <div class="stat-text">Rp. <span class="count">123901212</span></div>
                                                <div class="stat-heading">Penghasilan</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="stat-widget-five">
                                        <div class="stat-icon dib flat-color-2">
                                            <i class="pe-7s-users"></i>
                                        </div>
                                        <div class="stat-content">
                                            <div class="text-left dib">
                                                <div class="stat-text"><span class="count">{{ this.countKader.length }}</span></div>
                                                <div class="stat-heading">Jumlah Kader</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Widgets -->
                    <!--  /Traffic -->
                    <div class="clearfix"></div>
                    <!-- Orders -->
                    <div class="orders">
                        <div class="row">
                            <div class="col-xl-8">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="box-title">Pembelian Terbaru </h4>
                                    </div>
                                    <div class="card-body--">
                                        <div class="table-stats order-table ov-h">
                                            <table class="table ">
                                                <thead>
                                                    <tr>
                                                        <th class="serial">#</th>
                                                        <th>ID</th>
                                                        <th>Name</th>
                                                        <th>Product</th>
                                                        <th>Quantity</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="serial">1.</td>
                                                        <td> #5469 </td>
                                                        <td>  <span class="name">Louis Stanley</span> </td>
                                                        <td> <span class="product">Uniqlo</span> </td>
                                                        <td><span class="count">1</span></td>
                                                        <td>
                                                            <span class="badge badge-complete">Complete</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="serial">2.</td>
                                                        <td> #5468 </td>
                                                        <td>  <span class="name">Gregory Dixon</span> </td>
                                                        <td> <span class="product">ZARA</span> </td>
                                                        <td><span class="count">1</span></td>
                                                        <td>
                                                            <span class="badge badge-complete">Complete</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="serial">3.</td>
                                                        <td> #5467 </td>
                                                        <td>  <span class="name">Catherine Dixon</span> </td>
                                                        <td> <span class="product">H&M</span> </td>
                                                        <td><span class="count">1</span></td>
                                                        <td>
                                                            <span class="badge badge-complete">Complete</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="serial">4.</td>
                                                        <td> #5466 </td>
                                                        <td>  <span class="name">Mary Silva</span> </td>
                                                        <td> <span class="product">Pull&Bear</span> </td>
                                                        <td><span class="count">1</span></td>
                                                        <td>
                                                            <span class="badge badge-pending">Pending</span>
                                                        </td>
                                                    </tr>
                                                    <tr class=" pb-0">
                                                        <td class="serial">5.</td>
                                                        <td> #5465 </td>
                                                        <td>  <span class="name">Johnny Stephens</span> </td>
                                                        <td> <span class="product">Bershka</span> </td>
                                                        <td><span class="count">1</span></td>
                                                        <td>
                                                            <span class="badge badge-complete">Complete</span>
                                                        </td>
                                                    </tr>
                                                    <tr class=" pb-0">
                                                        <td class="serial">5.</td>
                                                        <td> #5466 </td>
                                                        <td>  <span class="name">Kim Ratchet</span> </td>
                                                        <td> <span class="product">Nama</span> </td>
                                                        <td><span class="count">1</span></td>
                                                        <td>
                                                            <span class="badge badge-complete">Complete</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div> <!-- /.table-stats -->
                                    </div>
                                </div> <!-- /.card -->
                            </div>  <!-- /.col-lg-8 -->

                            <div class="col-xl-4">
                                <div class="row">
                                    <div class="col-lg-6 col-xl-12">
                                        <div class="card br-0">
                                            <div class="card-body">
                                                <div class="chart-container ov-h">
                                                    <div id="flotPie1" class="float-chart"></div>
                                                </div>
                                            </div>
                                        </div><!-- /.card -->
                                    </div>
                                </div>
                            </div> <!-- /.col-md-4 -->
                        </div>
                    </div>
                    <!-- /.orders -->
                <!-- /#add-category -->
                </div>
                <!-- .animated -->
            </div>
            <!-- /.content -->
            <!-- <div class="clearfix"></div> -->
        </div>
    </div>
</template>

<script>
import Sidebar from '../../components/admin/Sidebar.vue';
import Header from '../../components/admin/Header.vue';
import axios from 'axios';

export default {
    name: 'Dashboard',
    components: {
        Sidebar,
        Header,
    },
    data(){
        return {
            countKader: 0
        }
    },
    mounted(){
        this.loadsize(),
        axios.get('https://apimaroon.zainportfolio.com/kader').then(rp => {
            this.countKader = rp.data
            return this.countKader
        })
    },
    methods: {
        loadsize(){
            window.document.addEventListener("resize", function(){
                var windowsWidth = window.document.innerWidth;
                if(windowsWidth<1010){
                    const body = document.querySelector('body');
                    body.classList.add('small-device')
                }else{
                    const body = document.querySelector('body');
                    body.classList.remove('small-device')
                }
            });
        }
    },
    
}
</script>

<style>
</style>